#
# Ignore vagrant-related files
#
.vagrant
Vagrantfile.1

# ignore kubeconfig fetched from the machine
ansible/k3s-kubeconfig

# ignore the file for the dockerhub token, if it exists
ansible/group_vars/all/k3s_configure_private_registries.yml
